$dgrey: 	hsl(0, 0%, 75%);
$lgrey: hsl(0, 0%, 90%);
$borderSize: 0.40rem;

.jumbotron {
    height: 45vh;
    background-color: $lgrey;
}

.navbar:hover {
  color: $dgrey;
}
  
.rounded-circle {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: $borderSize solid hsl(260deg, 100%, 50%);
    transition: border 0.45s linear 2s;
    animation: colorChanges 5s infinite alternate;
}
  
@keyframes colorChanges {
    0% {
      border: $borderSize solid hsl(260deg, 100%, 50%);
    }
  
    20% {
      border: $borderSize solid hsl(300deg, 100%, 50%);
    }
  
    40% {
      border: $borderSize solid hsl(350deg, 100%, 50%);
    }
  
    60% {
      border: $borderSize solid hsl(400deg, 100%, 50%);
    }
  
    80% {
      border: $borderSize solid hsl(450deg, 100%, 50%);
    }
  
    100% {
      border: $borderSize solid hsl(550deg, 100%, 50%);
    }
}

.row {
    text-align: center;
    margin: 50px;
  
    img {
      width: 200px;
    }
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.75s ease;
    background-color: #E9ECEF;
    border-radius: 30px;
}
  
#overlay-html {
    background-color: hsl(12, 30%, 80%);
}
  
#overlay-css {
    background-color: hsl(205, 30%, 80%);
}
  
#overlay-js {
    background-color: hsl(53, 60%, 80%);
}
  
#overlay-bs {
    background-color: hsl(264, 20%, 80%);
}
  
#overlay-python {
    background-color: hsl(207, 30%, 80%);
}
  
#overlay-mysql {
    background-color: hsl(196, 25%, 80%);
}
  
.col-sm:hover .overlay {
    opacity: 1;
}
  
.overlay-text {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    width: 225px;
}
  
.card {
    box-shadow: none;
    transition: box-shadow 0.05s ease-in;
  
    &:hover {
      box-shadow: 0px 5px $dgrey;
      transform: translate(0px, -3px);
    }
}

#pageTitle {
  text-align: center;
  padding: 3rem;
}

#submitButton:hover {
  background-color: $dgrey;
}


#contactForm {
  margin: auto;
}

@media (min-width: 850px) {
  #contactForm {
    max-width: 60rem;
  }
  #card-deck {
    max-width:  80rem;
  }
}

@media (max-width: 575px) {
  .jumbotron{
    height: 40vh;
  }
}

@media (max-width: 767px) {
  .secondaryBox {
    margin: 3rem 0 0 0;
  }
}

@media (min-width: 1500px) {
  .card-deck {
    padding: 0 5rem;
  }
}